/Java/build/
/ArrayList/nbproject/private/
/ArrayList/build/
/ArrayListExec/nbproject/private/
/ArrayListExec/build/
/ExecsFor/nbproject/private/
/ExecsFor/build/
/HashSetExecs/nbproject/private/
/HashSetExecs/build/
/ForEachExecs/nbproject/private/
/SwitchCaseExecs/nbproject/private/
/SwitchCaseExecs/build/
/ExecsMatriz/nbproject/private/
/ExecsMatriz/build/
/ExecsMetodos/nbproject/private/
/ExecsMetodos/build/
/JogoExecs/nbproject/private/
/ProjectsExecs/nbproject/private/
/ProjectsExecs/build/
/POO/nbproject/private/
/POO/build/
/Teste/nbproject/private/
/Teste/build/
/ExecClass2/nbproject/private/
/POOInterface/nbproject/private/
